header{
  font-size: 140%;
  position:relative;
  margin:0%;
  background-size: cover;
  background-image: url(../di.jpg);

  background-repeat: inherit;
  height: 300px;
}
.Titulos { 
  text-align: center;
  background-color: black;
  color: #ffffff; 
  border: 2px solid #949599;
  padding: 12px;
  margin:0 auto; 
}
.title{
  height: 55px;
}
.logo{
  position: absolute;
  height: 80px;
  width: auto;
  left: 80%;
  right: 10%;
  top: 316px;
}
article p{
  margin-top:-20px;
  margin-left: 30px;
}
.containerText{
    width: 25%;
    overflow: hidden;
    display: inline-block;
}
nav{
  float: left;
}
nav a{
  text-decoration: none;
  color:blue;
  font-size: 16px;
}
nav ul li{
  list-style: none;
  padding-top: 55px;
  margin-top: 10px;
}
.eventContent{
  float: right;
  width: 74%;
  font-size: 18px;

}

/*rules*/
.abc {
  list-style-type: lower-latin;
}
.Square {
list-style-type: square;
}
.Neg{
font-weight: bolder;
}
.content{
font-weight: normal;
}
.NonN {
font-weight:normal;
}
.NonE {  list-style: none;}

 /* Game-Info */
.Subtitle, .Subtitle2 {
  font-style: italic;
  text-align: left;
  font-family: Arial;
  font-weight: normal;
}
.Subtitle2{
  text-decoration: underline;
  margin-top: -1%; 
}
#tabla {
position: absolute;
left: 30%;
top: 50%;
}
td,tr{
  text-align: center;
  width:200px;
}
.filas{
 height: 40px;
}
.alingLeft{
  text-align: left;
}
.negrita{
  font-weight: bold;
}
.info {
  margin-left: 15%;
  top: 50%;
}
.flotarright{
  margin-top: -5px;
  margin-left: 40%;
}
.flotarleft{
  float:left;
  margin-top: -5px;
}
/* Registration*/ 
.bajo{
border: none;
border-bottom: solid #000001 1px;
text-align: left;
}
hr{border: None;}

.leftForms{

float: left;
width: 50%;
}
.derForms{
float: right;
width: 50%;
}
.allForms{

float: left;
width: 100%;
}
.WSchool{
  float: left;
  width: 100%;
}
.WPosition{
  float: left;
  width: 100%;
}
.USPosition{
  float: left;
  width: 100%;
}

.Izq, .izq2, .izq3, .izq4{
float: left;
}
.Der, .der2, .der3, .der4{
  float: right;
  width: 60%;
}
.contract{
width: 100%;
float: right;
}
input[type="text"]{
  width:30%
}
